.success-container{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#f5f5f5;

}

.success-card{

background:white;

padding:40px;

width:450px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

text-align:center;

}

.tick{

font-size:70px;

margin-bottom:15px;

}

.details{

margin:30px 0;

text-align:left;

}

.success-card button{

width:100%;

padding:14px;

background:#2e7d32;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}