.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f7f5;
}

.login-card {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  color: #198754;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.login-input:focus {
  border-color: #198754;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: #198754;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.login-btn:hover {
  background: #146c43;
}

.register-text {
  text-align: center;
  margin-top: 15px;
}

.register-link {
  color: #198754;
  text-decoration: none;
  font-weight: bold;
}

.register-link:hover {
  text-decoration: underline;
}